{% extends 'base.html' %}

{% block attachment %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cs.css' %}?ver=1">
<script src="{% static 'js/cs.js' %}"></script>
<style>
    .event {
        position: relative;
        margin: auto;
        display: flex;
        max-width: 1000px;
        list-style: none;
        text-align: center;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .event div {
        position: relative;
        float: left;
        margin: 10px;
        min-width: 300px;
        max-width: 1000px;
        max-height: 4000px;
        width: 100px;
        height: 400px;
        text-align: center;
        cursor: pointer;
    }

    .event div img {
        position: relative;
        min-height: 100%;
        max-width: 100%;
        padding: 20px;
        margin-top: 20px;
    }

    .event div p {
        display: block;
        letter-spacing: 1px;
        font-size: large;
        padding: 0px 5px 50px;
    }
</style>
{% endblock %}

{% block contents %}
<h2>이벤트</h2>
<h6>이벤트에 참여해보세요.</h6>
<hr>
<div class="mb-3 mt-3 clearfix">
    <span class="float-start me-2">총 {{ events.paginator.count }}개</span>
    <span class="float-start">page {{ events.number }}/{{ events.paginator.num_pages }}</span>
</div>

<table class="table table-striped table-hover">
    {% for event in events %}
    <tr>
        <td>사진</td>
        <td>사진</td>
        <td>사진</td>
    </tr>
    <tr>
        <td>{{ event.title }}</td>
        <td>{{ event.title }}</td>
        <td>{{ event.title }}</td>
    </tr>
    {% endfor %}
</table>


{% comment %} <div class="event">
    <div class="eventimg">
        <img src="http://know.nifos.go.kr/webzine/201812/images/event_img_01_m.jpg" alt="event1" />
        <p>이벤트1</p>
    </div>
    <div class="eventimg">
        <img src="http://know.nifos.go.kr/webzine/201812/images/event_img_01_m.jpg" alt="event2" />
        <p>이벤트1</p>
    </div>
    <div class="eventimg">
        <img src="http://know.nifos.go.kr/webzine/201812/images/event_img_01_m.jpg" alt="event3" />
        <p>이벤트1</p>
    </div>
    <div class="eventimg">
        <img src="http://know.nifos.go.kr/webzine/201812/images/event_img_01_m.jpg" alt="event4" />
        <p>이벤트1</p>
    </div>
    <div class="eventimg">
        <img src="http://know.nifos.go.kr/webzine/201812/images/event_img_01_m.jpg" alt="event5" />
        <p>이벤트1</p>
    </div>
    <div class="eventimg">
        <img src="http://know.nifos.go.kr/webzine/201812/images/event_img_01_m.jpg" alt="event6" />
        <p>이벤트1</p>
    </div>
</div> {% endcomment %}

<div class="row">
    <div class="col-12">
        {% if session.admin%}
        {% csrf_token %}
        <a class="btn btn-dark" href="{% url 'Cs:event_write' %}" style="float: right;">작성하기</a>
        {% endif %}
    </div>
</div>


<div class="row mt-2">
    <div class="col-12">
        <nav>
            <ul class="pagination justify-content-center">
                {% if events.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?p={{events.previous_page_number}}">이전으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link disabled" href="#">이전으로</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{events.number}} / {{events.paginator.num_pages }}</a>
                </li>
                {% if events.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?p={{events.next_page_number}}">다음으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link disabled" href="#">다음으로</a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </div>
</div>


{% endblock %}