{% extends 'base.html' %}

{% block attachment %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cs.css' %}?ver=1">
<script src="{% static 'js/cs.js' %}"></script>
{% endblock %}

{% block contents %}
<h2>FAQ</h2>
<h6>검색 후 문의가 해결되지 않으면 1:1 문의를 이용해주세요.</h6>
<hr>
<br><br>
<form action=".">
    <div class='text-center'>
        <input type="text" id="subject" placeholder="궁금한점을 검색해보세요" name="subject" style="width:50%">
        <button type="submit" class="btn btn-dark">검색</button>
    </div>
    <br>
    <div class='text-center' style="margin: top 50px" style="width:50%">
        <button type="button" class="btn btn-dark" style="margin-right:80px">주문</button>
        <button type="button" class="btn btn-dark" style="margin-right:80px">결제</button>
        <button type="button" class="btn btn-dark" style="margin-right:80px">환불</button>
        <button type="button" class="btn btn-dark" style="margin-right:80px">배송</button>
        <button type="button" class="btn btn-dark" style="margin-right:80px">기타</button>
    </div>
    <hr>
</form>
{% endblock %}