{% extends 'base.html' %}

{% block attachment %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cs.css' %}?ver=1">
<script src="{% static 'js/cs.js' %}"></script>
{% endblock %}

{% block contents %}
<h2>FAQ</h2>
<h6>검색 후 문의가 해결되지 않으면 1:1 문의를 이용해주세요.</h6>
<hr>
<br><br>
<form action=".">
    <div class='text-center'>
        <input type="text" id="subject" placeholder="궁금한점을 검색해보세요" name="subject" style="width:30%; height: 38px;">
        <button type="submit" class="btn btn-outline-dark">검색</button>
    </div>
    <br>
    <table class="table table-hover">
        <thead>
            <div class='text-center' style="margin: top 50px">
                <input type="button" class="btn btn-outline-dark" value="주문" style="margin-right:50px; width: 100px;">
                <input type="button" class="btn btn-outline-dark" value="결제" style="margin-right:50px; width: 100px;">
                <input type="button" class="btn btn-outline-dark" value="환불" style="margin-right:50px; width: 100px;">
                <input type="button" class="btn btn-outline-dark" value="배송" style="margin-right:50px; width: 100px;">
                <input type="button" class="btn btn-outline-dark" value="기타" style="margin-right:50px; width: 100px;">
            </div>
        </thead>
        <br>
        <tbody>
            {% for faq in faqs %}
            <tr onclick="location.href='{% url 'Cs:faq_detail' faq.id %}'" style="cursor: pointer;">
                <td>Q</td>
                <td>{{ faq.title }}</td>
                <td>{{ faq.content }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

<div class="row">
    <div class="col-12">
        {% if session.admin %}
        {% csrf_token %}
        <a class="btn btn-dark" href="{% url 'Cs:faq_write' %}" style="float: right;">작성하기</a>
        {% endif %}
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <nav>
            <ul class="pagination justify-content-center">
                {% if faqs.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?p={{faqs.previous_page_number}}">이전으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link disabled" href="#">이전으로</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{faqs.number}} / {{faqs.paginator.num_pages }}</a>
                </li>
                {% if faqs.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?p={{faqs.next_page_number}}">다음으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link disabled" href="#">다음으로</a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </div>
</div>


{% endblock %}