{% extends 'base.html' %}

{% block attachment %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cs.css' %}?ver=1">
<script src="{% static 'js/cs.js' %}"></script>
{% endblock %}

{% block contents %}
<h2>공지사항</h2>
<h6>다양한 정보와 새로운 소식을 알려드립니다.</h6>
<hr>
<div class="mb-3 mt-3">
    <span class="float-start me-2">총 {{ notices.paginator.count }}개</span>
    <span class="float-start">page {{ notices.number }}/{{ notices.paginator.num_pages }}</span>
</div>
<div style="float: right;">
    <input type="text" id="subject" placeholder="궁금한점을 검색해보세요" name="subject" style="width:250px">
    <button type="submit" class="btn btn-dark">검색</button>
</div>
<table class="table table-hover">
    <thead class="table-success">
        <tr>
            <th>목록</th>
            <th>제목</th>
            <th>조회수</th>
            <th>작성일</th>
        </tr>
    </thead>
    <tbody>
        {% for notice in notices %}
        <tr onclick="location.href='{% url 'Cs:notice_detail' notice.id %}'">
            <td>{{ notice.id }}</td>
            <td>{{ notice.title }}</td>
            <td>{{ notice.view_cnt }}</td>
            <td>{{ notice.reg_date|date:"Y-m-d" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="row">
    <div class="col-12">
        {% if session.username == "admin@email.com" %}
        {% csrf_token %}
        <a class="btn btn-dark" href="{% url 'Cs:notice_write' %}" style="float: right;">작성하기</a>
        {% endif %}
    </div>
</div>


<!-- pagination -->
<div class="row mt-2">
    <div class="col-12">
        <nav>
            <ul class="pagination justify-content-center">
                {% if notices.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?p={{notices.previous_page_number}}">이전으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">                    
                    <a class="page-link disabled" href="#">이전으로</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{notices.number}} / {{notices.paginator.num_pages }}</a>
                </li>                
                {% if notices.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?p={{notices.next_page_number}}">다음으로</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link disabled" href="#">다음으로</a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </div>
</div>
<!-- pagination -->

<!-- pagination -->
{% comment %} <div class="container mt-1">
    <ul class="pagination justify-content-center">
        {# << 표시 여부 #}
        {% if notices.number > 1 %}
        <li class="page-item"><a class="page-link" href="{% url 'Cs:notice_list' %}" title="처음"><i
                    class='fas fa-angle-double-left'></i></a></li>
        {% endif %}

        {# < 표시 여부 #}
        {% if start_page > 1 %}
        <li class="page-item"><a class="page-link" href="{% url 'Cs:notice_list' %}?page={{ start_page|add:-1 }}"
                title="이전"><i class='fas fa-angle-left'></i></a></li>
        {% endif %}

        {# 페이징 안의 '숫자' 표시 #}
        {% if notices.paginator.num_pages > 1 %}
        {% for p in page_range %}
        {% if notices.number != p %}
        <li class="page-item1"><a class="page-link" href="{% url 'Cs:notice_list' %}?page={{ p }}">{{ p }}</a></li>
        {% else %}
        <li class="page-item active"><a class="page-link" href="#" title="현재페이지">{{ p }}</a></li>
        {% endif %}
        {% endfor %}
        {% endif %}

        {# > 표시 #}
        {% if notices.paginator.num_pages > end_page %}
        <li class="page-item"><a class="page-link" href="{% url 'Cs:notice_list' %}?page={{ start_page|add:1 }}"
                title="다음"><i class='fas fa-angle-right'></i></a></li>
        {% endif %}

        {# >> 표시 #}
        {% if notices.number < notices.paginator.num_pages %}
        <li class="page-item"><a class="page-link"
                href="{% url 'Cs:notice_list' %}?page={{ notices.paginator.num_pages }}" title="마지막"><i
                    class='fas fa-angle-double-right'></i></a></li>
        {% endif %}
    </ul>
</div> {% endcomment %}


{% endblock %}