{% extends 'base.html' %}

{% block attachment %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cs.css' %}?ver=1">
    <script src="{% static 'js/cs.js' %}"></script>
{% endblock %}

{% block contents %}
<h2>1:1 문의</h2>
<h6>1:1 문의입니다.</h6>
<hr>
<form action="." method="POST">
    {% csrf_token %}
    <div class="mb-3 mt-3">
        <label>작성자</label>
        <input type="text" class="form-control" style="width:150px" placeholder="user 닉네임" readonly>
    </div>
    <div class="mb-3 mt-3">
        <label for="title">1:1문의 제목</label>
        <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요" name="title" required>
    </div>
    <div class="mb-3 mt-3">
        <label for="content">1:1문의 내용</label>
        <textarea class="form-control" rows="5" id="content" placeholder="내용을 입력하세요" name="content" required></textarea>
    </div>

    <button type="submit" class="btn btn-dark">작성완료</button>
    <a class="btn btn-dark" href="{% url 'Cs:oto_list' %}">목록가기</a>
</form>
{% endblock %}