{% extends 'base.html' %}

{% block attachment %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}?ver=1">
    <script src="{% static 'js/user.js' %}"></script>
{% endblock %}

{% block contents %}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>로그인</h1>
        <hr>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <form method="POST" action="."> <!-- 자기자신으로 url로 돌아감 -->
            {% csrf_token %}
           <div class="form-group mt-3 mb-5 row">
                <label for="username" class="col-sm-2 col-form-label text-center"><strong>이메일</strong></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username" placeholder="이메일">
                </div>
            </div>
            <div class="form-group mt-3 row">
                <label for="password" class="col-sm-2 col-form-label text-center"><strong>비밀번호</strong></label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호">
                </div>
            </div>
            <div class="row p-2 mt-5">
                <button class="btn btn-primary mt-3 text-center col-sm">로그인</button>
                <a class="btn btn-dark mt-3 text-center col-sm" href="{% url 'User:user_register' %}">회원가입</a>
            </div>
        </form>
        

        <div class="form-row mt-3 text-center">
            <a class="btn btn-outline-warning" href="{% url 'User:find_pw' %}" role="button" >비밀번호 찾기</a>
            
        </div>
        

    </div>
</div>
<br>
<br>

{% endblock %}