{% extends 'base.html' %}

{% block attachment %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}?ver=1">
    <script src="{% static 'js/user.js' %}"></script>
{% endblock %}

{% block contents %}

<div class="title">
    <br>
    <h3>매거진</h3>
    <br>
</div>

<div class="mb-3 mt-3 clearfix">
    {% if session.admin %}
    <span class="float-start ms-4">id : {{ magazine.id }} </span>
    {% endif %}
    <span class="float-end ms-4">작성일 : {{ magazine.reg_date|date:"Y-m-d H:i:s" }} </span>
    <span class="float-end">조회수 : {{ magazine.view_cnt }} </span>
</div>

<section> 
<div class="row">
    <div class="col-12">
      {% if session.admin %}
      <button type="button" class="btn btn-outline-dark float-end" onclick="chkDelete()" display="none">삭제</button>
      <a class="btn btn-outline-dark float-end " href="{% url 'User:magazine_update' magazine.pk %}" role="button" display="none">수정</a> 
      {% endif %}
    </div>
  </div>
  

<div class="content">
    <div class="col-lg-12" >

        <div class="mb-3 mt-3">
            <label for="title">제목:</label>
            <div class="border bg-light rounded p-2" >{{ magazine.title }}</div>
        </div>    

        <div class="mb-3 mt-3">
            <label for="content">내용</label>
            <div class="border bg-light rounded p-2 h-25" rows="20" >{{ magazine.content }}</div>
            
        </div>    

        <a class="btn btn-outline-dark" href="{% url 'User:magazine_list' %}">목록</a>

    </div>

</div>

    <form action="{% url 'User:magazine_delete' %}" name="delete" method="POST">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ magazine.id }}">
    </form>

    <script>
    function chkDelete(){
        var d = confirm("삭제하시겠습니까?");
        if(d){
            document.forms['delete'].submit();
        }
    }
    </script>

</section>
<br>
<br>

{% endblock %}