{% extends 'base.html' %}

{% block attachment %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/order.css' %}?ver=1">
    <script src="{% static 'js/custom1.js' %}"></script>
{% endblock %}

{% block contents %}
    <div class="text_wrap">
        <h3>상품타입네임<br>
        <h6>해당 제품의 상세 설명과 커스텀 방법에 대해 설명해드리겠습니다.
    </div>

    <div class="custom1">
        <div class="custom1_top">
            <div class="pimg_wrap"><img id="pimg" src="https://i.ibb.co/0JMMtF1/shortw.png" alt=""></div>     
        <div class="custom1_detail">
            <p id="product_type" >상품타입네임<br>
        <div class="selectcolor"> 
            <div id="colorview"></div>
           <select id="color"name="color" onchange="selectColor(this.value);">
               <option value="#ffffff">White</option>
               <option value="#ece6cc">Ivory</option>
               <option value="#000000">Black</option>
               <option value="#ed4545">Red</option>
               <option value="#ff9717">Orange</option>
               <option value="#f6fc38">Yellow</option>
               <option value="#00d600">Green</option>
               <option value="#3888ff">Blue</option>
               <option value="#ffe3f0">BadyPink</option>
               <option value="#13065c">Navy</option>
               <option value="#808080">Gray</option>
               <option value="#ac53c9">Purple</option>
           </select>
        </div>
        <div class="selectsize"> 
           <select id="size" name="size">
               <option value="XS">XS</option>
               <option value="S">S</option>
               <option value="M" selected>M</option>
               <option value="L">L</option>
               <option value="XL">XL</option>
               <option value="XXL">XXL</option>
               <option value="3XL">3XL</option>
           </select>
        </div> 
        <div class="Btn"><a href="{% url 'Order:custom2' %}" id="CustomBtn2">Next</a></div>
        </div>
        </div>
        
       </div>
           

{% endblock %}