{% extends 'base.html' %}

{% block attachment %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/order.css' %}?ver=1">
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
    <script src="{% static 'js/order2.js' %}"></script>
{% endblock %}

{% block contents %}
    <div class="text_wrap">
        <h3>상품타입네임<br>
        <h6>해당 제품의 상세 설명과 커스텀 방법에 대해 설명해드리겠습니다.
    </div>

    <div class="custom2">
        <div class="custom1_top">
            <div class="pimg2_wrap"><canvas id="Canvas" width="1000" height="1000" ></canvas></div>          
            <div class="custom2_detail">
                <p id="product_type" >상품타입네임<br>
            <div class="text_contain">
                <form action="" class="form-horizontal">
                        <div id="text2_wrap" class="form-inline form-group">
                            <label for="inputtext" class="col-xs control-label" id="inputtext">Text</label>
                            <div id="text_input_wrap" class="col-sm-6">
                                <input type="text" id="text_input" class="form-control w-75" placeholder="15글자 이하의 텍스트" maxlength="15">
                            </div>
                            <div id="colorview_wrap">
                                <img onclick="showModal();" id='colorwheel' src="https://i.ibb.co/gvJMcpG/color-wheel.png">        
                            </div>
                             
                                <div class="modal-window">
                                    <div class="content">
                                        <div id="picker"></div>
                                        <div class="Btn"><a onclick="hideModal();" id="CustomBtn3">OK</a></div>
                                    </div>
                                </div>
                        </div>
                </form>  
            </div>
            <div class="selectpattern"> 
                <label id="selecttext" for="selecttext" class="col-xs control-label">Pattern</label>
                <select class="form-control w-25" id="selectpattern">
                    <option>모야앙1</option>
                    <option>모야앙2</option>
                    <option>모야앙3</option>
                    <option>모야앙4</option>
                </select>
            </div> 
            <div class="imageupload">
                <label class="col-xs control-label" id="imagetext">Image</label>
                <div id="imgwrap"><img src="https://img.icons8.com/ios-glyphs/344/pictures-folder.png" alt=""></div>
            </div>
            <div class="Btn"><a href="{% url 'Order:customend' %}" id="CustomBtn2">Next</a></div>
            </div>
        </div>   
       </div>
           
<script>
 
</script>
{% endblock %}