{% extends 'base.html' %}

{% block attachment %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/order.css' %}?ver=1">
    <script src="{% static 'js/order.js' %}"></script>
{% endblock %}

{% block contents %}
    <div>
        <h3>상품타입네임<br>
        <h6>해당 제품의 상세 설명과 커스텀 방법에 대해 설명해드리겠습니다.
    </div>
    <div class="pcontain2">
        <div class="detail_top">
            <div class=""><img id="pimg" src="https://i.ibb.co/0JMMtF1/shortw.png" alt=""></div>
            <div>설명글 top</div>
            <div class="detail_bottom">설명글 디테일</div> 
        </div>
        
        <div class="detail_img" ><img src="https://i.ibb.co/tpyF6xT/pdetail.png"></div>
    </div>
    <div class="Btn"><a href="{% url 'Order:custom1' %}" id="CustomBtn1">Custom start</a></div>
    <div class="padd"></div>
{% endblock %}