{% extends 'base.html' %}

{% block attachment %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/order.css' %}?ver=1">
    <script src="{% static 'js/order.js' %}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

{% endblock %}

{% block contents %}

<div class="paytext" style="margin-top: 200px; margin-bottom:100px; border-bottom: 3px solid rgb(172, 172, 172);">
    <div class="">
        <h1>주문 상세 입력</h1>
    </div>
</div>

<div class="paycontain">
    <form method="POST">
        {% csrf_token %}
    <div name="paymentForm1" class="userform" action="">
        <legend>주문정보</legend>
        <div>
            <label for="">주문자</label>
            <div class="col-4" style="display: inline-block; margin-bottom:15px"><input type="text" class="form-control" style="display:inline-block" placeholder="필수" required></div>
        </div>
        <div>
            <label for="">이메일</label>
            <div  class="col-4" style="display: inline-block; margin-bottom:15px"><input type="text" class="form-control" placeholder="필수" required></div>
        </div>
        <div>
            <label for="">연락처</label>
            <div class="col-4" style="display: inline-block; margin-bottom:30px"><input id="usernum" type="text" class="form-control" placeholder="000-0000-0000" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"  required></div>
        </div>
    </div>
    <br>
    <div style="float:right;"><button type="button" class="btn btn-dark" id="userequal" name="userequal">구매자와 동일</button></div>
    <div name="paymentForm2" class="receform" action="">
        <legend>배송지</legend>
        <div>
            <label for="">받는이</label>
            <div class="col-4"  style="display: inline-block; margin-bottom:15px"><input id="receiver" name="receiver" type="text" class="form-control" placeholder="필수" required></div>
        </div>
        <div>
            <label for="">주소</label>
            <div class="col-2"  style="display: inline-block; margin-bottom:6px; margin-left:16px"><input id="sample4_postcode" type="text" class="form-control" placeholder="우편번호" required></div>
            <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기">
            <div style="display: flex;">
                <div class="col-6" style="margin-bottom:6px; margin-left:53px;"><input id="sample4_roadAddress" type="text" class="form-control" placeholder="도로명주소"></div>
                <div><input id="sample4_jibunAddress" type="text" class="form-control col-10" placeholder="지번주소"></div>
            </div>
            <div style="display: flex; margin-bottom:15px;">
                <div class="col-4" style="margin-bottom:15px; margin-left:53px"><input id="sample4_detailAddress" type="text" class="form-control" placeholder="상세주소" required></div>
                <div><input id="sample4_extraAddress" type="text" class="form-control" placeholder="참고항목"></div>
            </div>
        </div>
        <div>
            <label for="">연락처</label>
            <div class="col-4" class="col-4" style="display: inline-block; margin-bottom:18px"><input type="text" class="form-control" placeholder="필수" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required></div>
        </div>
        <div>
            <label for="">배송요청사항</label>
            <div class="col-4" style="display: inline-block;">
                <select type="text" id="selbox" class="form-control" placeholder="필수">
                    <optgroup label="---------" data-max-options="1">
                        <option value="1">문앞</option>
                        <option value="2">직접 받고 부재 시 문앞</option>
                        <option value="3">경비실</option>
                        <option value="4">택배함</option>
                        <option value="d1">기타사항&nbsp&nbsp&#9660</option>
                    </optgruop>
                    <optgroup label="---------" data-max-options="1">
                        <option value="6">공동현관 출입번호 없음.</option>
                        <option value="d2">공동현관 출입번호 있음.&nbsp&nbsp&#9660</option>
                    </optgroup>
                </select>
                <input id="direct1" class="form-control" type="text" placeholder="상세사항">
                <input id="direct2" class="form-control" type="text" placeholder="예시: #1234*">
            </div>
        </div>
    </div>
</div>

<div class="paytext" style="margin-top: 200px; margin-bottom:100px; border-bottom: 3px solid rgb(172, 172, 172);">
    <div class="">
        <h1>결제</h1>
    </div>
</div>
<div name="cashForm" class="cashform" action="" >
    <div style="margin-bottom:60px; border-bottom: 1px solid black;">
        <legend>금액</legend>
        <div style="border-top: 1px solid black; padding-top:20px;">
            <label for="" style="margin:30px;">총 상품 가격</label>
            <input type="text" value="30,000">
        </div>
        <div>
            <label for=""  style="margin:30px 50px;">적립금</label>
            <input type="text" value="1,500">
        </div>
        <div>
            <label for=""  style="margin:30px;">총 결제 금액</label>
            <input type="text" value="금액처리하기">
        </div>
    </div>
</div>
<div name="paymentForm" class="paymentform" action="">
    <div style="border-bottom:1px solid black;">
      <legend>결제방법</legend>
      <div class="form-check" style="display:inline-block; margin-right:25px; margin-left:150px;">
        <input onclick="ch1(this.value);" class="form-check-input" type="radio" name="flexRadioDefault" name="r1" checked>
        <label class="form-check-label" for="flexRadioDefault1">
        카드결제
        </label>
      </div>
      <div class="form-check" style="display:inline-block; margin-right:25px;">
        <input onclick="ch2(this.value);" class="form-check-input" type="radio" name="flexRadioDefault"  name="r2">
        <label class="form-check-label" for="flexRadioDefault1">
        간편결제
        </label>
      </div>
      <div class="form-check" style="display:inline-block; margin-right:25px;">
        <input onclick="ch3(this.value);" class="form-check-input" type="radio" name="flexRadioDefault"  name="r3">
        <label class="form-check-label" for="flexRadioDefault1">
        무통장입금
        </label>
      </div>
      <div class="form-check" style="display:inline-block; margin-right:25px;">
        <input onclick="ch4(this.value);" class="form-check-input" type="radio" name="flexRadioDefault"  name="r4">
        <label class="form-check-label" for="flexRadioDefault1">
        핸드폰결제
        </label>
      </div>
    </div>
    
      <div>
        <div id="pay1"  style="border-bottom:1px solid black; padding:50px;">
            <div style="display:flex;">
                <div style="margin-left: 160px;"><label style="margin-right: 20px;">카드선택</label><select name="form-control w-20" id=""><option value="">카아드</option></select></div>
                <div style="margin-left: 100px"><label style="margin-right: 20px;">할부기간</label><select name="form-control w-20" id=""><option value="">카아드</option></select></div>
            </div>
            
        </div>
        <div id="pay2"  style="border-bottom:1px solid black; padding:50px;  display:none">
            <div style="display:flex;">
                <div style="margin-left: 160px;"><form action="" method="POST">{% csrf_token %}<button class="btn btn-warning">카카오페이</button></div>
            <div style="margin-left: 160px;"><form action="" method="POST">{% csrf_token %}<button class="btn btn-success">네이버페이</button></div>
            </div>
            
        </div>
        <div id="pay3" style="border-bottom:1px solid black; padding:50px;  display:none">
            <div style="margin-left: 160px;"><label style="margin-right: 20px;">은행선택</label><select name="form-control w-25" id=""><option value="">카아드</option></select></div>
        </div>
        <div id="pay4" style="border-bottom:1px solid black; padding:50px;  display:none">
            <div style="margin-left: 160px;"><label style="margin-right: 20px;">통신사선택</label><select name="form-control w-25" id=""><option value="">카아드</option></select></div>
        </div>
      </div>
      <div>
          <div style="margin-top:50px; margin-bottom:10px; display:flex;">
            <p style="margin-left:170px">위 주문 내용을 확인하였으며, 회원본인은 개인정보 이용 및 제공 및 결제에 동의합니다.</p>
            <div style="margin-left:30px;"><input type="checkbox" class="form-check-input"></div>
          </div>
          <div style="text-align: center;">
              <button type="submit" class="btn btn-dark">결제</button>
          </div>
        </div>
    </div>
</form>


<p class="padd"></p>

<script>
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
                document.getElementById("sample4_detailAddress").focus();
                
                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                {% comment %} if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                } {% endcomment %}
            }
        }).open();
    }
    

    function re(){
        document.getElementsByName['r1'].checked = false;
    }
    function ch1(e){
        $("#pay1").css("display","block");
        $("#pay2").css("display","none");
        $("#pay3").css("display","none");
        $("#pay4").css("display","none");
    }
    function ch2(e){
        $("#pay1").css("display","none");
        $("#pay2").css("display","block");
        $("#pay3").css("display","none");
        $("#pay4").css("display","none");
    }
    function ch3(e){
        $("#pay1").css("display","none");
        $("#pay2").css("display","none");
        $("#pay3").css("display","block");
        $("#pay4").css("display","none");
    }
    function ch4(e){
        $("#pay1").css("display","none");
        $("#pay2").css("display","none");
        $("#pay3").css("display","none");
        $("#pay4").css("display","block");
    }

    $("#userequal")[0].addEventListener("click",function() {
        
        $("[name='receiver']").val("하이");
     
    })
</script>

{% endblock %}