#admin_nav li a {
    color: #fff;
}

#admin_nav li a:hover {
    color: #262626;
    background-color: #fff;
}

.container {
    min-width: 950px;
}

.left_info>div,
.right_info>div {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_fixed {
    left: 5%;
    top: 30%;
}