* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding-top: 58px;
}

#nav_collapse ul li a {
    border-bottom: 3px solid transparent;
}

#nav_collapse ul li a:hover {
    border-bottom: 3px solid #fff;
}