{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/7460690a88.js" crossorigin="anonymous"></script>
    <title>WHITE VALLEY</title>
    {% block style %}
        <!-- css 파일 => static/css 밑에 만들기, home.html 참고 -->
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<script>
</script>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand ms-3" href="{% url 'Main:home' %}">WHITE VALLEY</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-3">
                    <li class="nav-item">
                        {% if currentPage %}
                            <a class="nav-link active" href="{% url 'Main:home' %}">HOME</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'Main:home' %}">HOME</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SHOPPING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CART</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">C/S</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav ms-3">
                    <li class="nav-item me-3">
                        <a class="nav-link" href="#">LogIn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SignIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container mt-3">
        {% block contents %}
            <!-- 원하는 내용 -->
        {% endblock %}
    </div>

    <footer class="bg-dark text-center text-white">
        <div class="container p-4">
            <section class="mb-4">
                <a class="btn btn-outline-light btn-floating m-1" href="http://www.facebook.com" role="button" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1" href="http://www.twitter.com" role="button" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1" href="http://www.google.com" role="button" target="_blank">
                    <i class="fab fa-google"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1" href="http://www.instagram.com" role="button" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1" href="http://www.youtube.com" role="button" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1" href="http://www.github.com" role="button" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </section>
            <section>
                
            </section>
            <section class="mb-4">
                <h1>WHITE VALLEY</h1>
                <h6>
                    MON-FRIㅣ09:30 - 17:00<br>
                    LUNCH ㅣ 12:30 - 13:30<br>
                    SAT, SUN, HOLIDAY ㅣ OFF
                </h6>
            </section>
            <section class="">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled mb-0">
                            <li><a href="#!" class="text-white">Link 1</a></li>
                            <li><a href="#!" class="text-white">Link 2</a></li>
                            <li><a href="#!" class="text-white">Link 3</a></li>
                            <li><a href="#!" class="text-white">Link 4</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled mb-0">
                            <li><a href="#!" class="text-white">Link 1</a></li>
                            <li><a href="#!" class="text-white">Link 2</a></li>
                            <li><a href="#!" class="text-white">Link 3</a></li>
                            <li><a href="#!" class="text-white">Link 4</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled mb-0">
                            <li><a href="#!" class="text-white">Link 1</a></li>
                            <li><a href="#!" class="text-white">Link 2</a></li>
                            <li><a href="#!" class="text-white">Link 3</a></li>
                            <li><a href="#!" class="text-white">Link 4</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled mb-0">
                            <li><a href="#!" class="text-white">Link 1</a></li>
                            <li><a href="#!" class="text-white">Link 2</a></li>
                            <li><a href="#!" class="text-white">Link 3</a></li>
                            <li><a href="#!" class="text-white">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Copyright © WhiteValley Corp. 2022-2023 All Rights Reserved.
            {% comment %} © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a> {% endcomment %}
        </div>
    </footer>
</body>
</html>
