{% extends 'base.html' %}

{% block attachment %}
    {% load static %}
    <script src="{% static 'js/cart.js' %}?ver=3"></script>
    <style>
        .container {
            min-width: 768px;
        }
    </style>
{% endblock %}

{% block contents %}
    <div class="container">
        <div class="bg-dark rounded pt-5 pb-5 row text-white text-center">
            <div class="col-sm-1 form-check form-switch d-flex justify-content-center align-contents-center">
                <input type="checkbox" class="form-check-input item_all_selector" style="width: 70px; height: 35px;" id="flexSwitchCheckDefault">
            </div>
            <div class="col-sm-3 d-flex justify-content-center align-items-center">
                <h5><strong>상품 이미지</strong></h5>
            </div>
            <div class="col-sm-6 d-flex justify-content-center align-items-center">
                <h5><strong>상품 상세 설명</strong></h5>
            </div>
            <div class="col-sm-2 d-flex justify-content-center align-items-center">
                <h5><strong>상품 수량</strong></h5>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="rounded row">
            <div class="border col-sm-1 d-flex justify-content-center align-items-center form-check form-switch">
                <input type="checkbox" class="form-check-input item_selector" id="flexSwitchCheckDefault" style="width: 70px; height: 35px;">
            </div>
            <div class="border col-sm-3 d-flex justify-content-center align-items-center">
                <img class="w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGMxDdakcrizquJtRNmja_hae6nxjmogm67g&usqp=CAU" alt="장바구니_이미지">
            </div>
            <div class="border col-sm-6 d-flex flex-column justify-content-center">
                <h5>옵션: ~~~~~~~~~~~~~~~...<a class="text-dark">자세히 보기</a></h5>
                <hr>
                <h5>상태: </h5>
                <hr>
                <h5>도착 예정 날짜: </h5>
            </div>
            <div class="border col-sm-2 d-flex justify-content-center align-items-center">
                <select class="form-select" aria-label="Default select example">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
            <div class="bg-dark text-white d-flex justify-content-end align-items-center p-3">
                <div class="p-3 d-flex justify-content-center align-items-center text-light"><h6 class="me-3">해당상품 현재 가격: </h6> <h4><strong>￦60000</strong></h4></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="rounded row">
            <div class="border col-sm-1 d-flex justify-content-center align-items-center form-check form-switch">
                <input type="checkbox" class="form-check-input item_selector" id="flexSwitchCheckDefault" style="width: 70px; height: 35px;">
            </div>
            <div class="border col-sm-3 d-flex justify-content-center align-items-center">
                <img class="w-100" src="https://pbs.twimg.com/profile_images/1270347628568473600/iWfgRyNb_400x400.jpg" alt="장바구니_이미지">
            </div>
            <div class="border col-sm-6 d-flex flex-column justify-content-center">
                <h5>옵션: ~~~~~~~~~~~~~~~...<a class="text-dark">자세히 보기</a></h5>
                <hr>
                <h5>상태: </h5>
                <hr>
                <h5>도착 예정 날짜: </h5>
            </div>
            <div class="border col-sm-2 d-flex justify-content-center align-items-center">
                <select class="form-select" aria-label="Default select example">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
            <div class="bg-dark text-white mb-5 d-flex justify-content-end align-items-center p-3">
                <div class="p-3 d-flex justify-content-center align-items-center text-light"><h6 class="me-3">해당상품 현재 가격: </h6> <h4><strong>￦60000</strong></h4></div>
            </div>
        </div>
    </div>
    <div class="bg-light border-top border-bottom border-3 p-5 m-3 fw-bold">
        <div class="p-3 d-flex justify-content-center align-items-center"><h4 class="me-3">상품 총 가격: </h4><h2 class="text-danger"><strong>￦120000</strong></h2></div>
        <div class="p-3 d-flex justify-content-center align-items-center text-secondary"><h6 class="me-1">총 적립 포인트: </h6> <h4><strong>￦12000</strong></h4></div>
    </div>
    <div class="d-flex justify-content-evenly align-items-center mb-5">
        <a class="d-flex align-items-center justify-content-center fw-bold fs-3 btn btn-danger w-50 m-5" style="height: 70px;" onclick="location.href='{% url 'Recommendation:finished' %}'">계속 쇼핑하기</a>
        <a class="d-flex align-items-center justify-content-center fw-bold fs-3 btn btn-primary w-50 m-5" style="height: 70px;" onclick="location.href='{% url 'Order:payment' %}'">구매하러 가기</a>
    </div>
{% endblock %}