{% extends 'base.html' %}

{% block attachment %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block contents %}
    {% if not cookies.visited %}
        <div id="greet" style="z-index: 30;" class="text-white position-fixed d-flex flex-column justify-content-center align-items-center">
            <h1 id="typing">WELCOME TO WHITEVALLEY!</h1>
            <button class="btn btn-outline-light position-absolute">Continue</button>
        </div>
    {% endif %}

    <div class="d-flex">
        <div class="scrollspy-example w-75" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" tabindex="0" id="contents" style="outline: none">
            <div class="container" id="scrollspyHeading1">
                <div class="border rounded p-5 bg-dark row">
                    <div id="carouselExampleIndicators" class="carousel slide col-sm d-flex align-items-center" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <img src="https://media.bunjang.co.kr/product/164794741_2_1631993283_w360.jpg" class="d-block w-100" alt="cloth1">
                            </div>
                            <div class="carousel-item">
                            <img src="http://m.terco.kr/file_data/junc5881/2019/03/08/e5c8cecba6126ab9a4ce7b8dbbf338fa.jpeg" class="d-block w-100" alt="cloth2">
                            </div>
                            <div class="carousel-item">
                            <img src="https://scontent.cdnsnapwidget.com/vp/3d3b7f55bff729387d84b0c41372406c/5D6CCBD3/t51.2885-15/sh0.08/e35/s640x640/54512487_418363908974821_4465286862667549317_n.jpg" class="d-block w-100" alt="cloth3">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="col-sm d-flex justify-content-center align-items-center flex-end mt-1">
                        <div class="w-75 p-3 text-light rounded">
                            <h3 class="mb-3">Catch Your Cloth Desired</h3>
                            <a href="{% url 'Order:order' %}"><button class="btn btn-outline-primary">Go To Custom Page</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rounded p-5" id="scrollspyHeading2">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-sm d-flex flex-column align-items-center justify-content-evenly" id="event_link">
                            <h2><strong>OPEN EVENT</strong></h2>
                            {% if session.user %}
                                <a href="{% url 'Order:order' %}" class="link-dark text-decoration-none"><h5>1. 회원가입 시 적립금 {{ config.sign_point }}원!</h5></a>
                            {% else %}
                                <a href="{% url 'User:user_login' %}" class="link-dark text-decoration-none"><h5>1. 회원가입 시 적립금 {{ config.sign_point }}원!</h5></a>
                            {% endif %}
                            <a href="{% url 'Order:order' %}" class="link-dark text-decoration-none"><h5>2. 물품 구매 시 {{ config.return_point }}%!</h5></a>
                            <a href="{% url 'Recommendation:reviews' %}" class="link-dark text-decoration-none"><h5>3. 포토후기 작성 시 {{ config.review_point }}원!</h5></a>
                            <a href="{% url 'Order:order' %}" class="link-dark text-decoration-none"><h5>4. 매월 베스트상 {{ config.best_point }}원!</h5></a>
                        </div>
                        <div class="col-sm">
                            <img class="w-75" src="https://cdn-icons-png.flaticon.com/512/3081/3081840.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="rounded p-5 bg-dark text-white" id="scrollspyHeading3">
                <div class="d-flex justify-content-evenly mb-5" id="best_btn">
                    <button class="w-25 btn border-2 btn-outline-light" disabled>BEST 코디</button>
                    <button class="w-25 btn border-2 btn-outline-light">BEST 깔맞춤</button>
                    <button class="w-25 btn border-2 btn-outline-light">BEST 포토후기</button>
                    <button class="w-25 btn border-2 btn-outline-light">이달의 판매왕</button>
                </div>
                <div class="container" id="best_contents">
                    <div class="row">
                        <div class="col-sm" id="best_img">
                            <div class="h-100 d-flex justify-content-center align-items-center">
                                <a href="#"><img class="w-100" src="http://maybnous.com/file_data/seulgikim/2019/01/29/f34ca27ff87662feaf085171f7511a6a.jpg" alt="best코디"></a>
                            </div>
                        </div>
                        <div class="col-sm d-flex flex-column justify-content-center" id="best_desc">
                            <div id="best_desc1">
                                <h4>(USER)님의 작품</h4>
                                <h5>태그:</h5>
                                <ul class="list-unstyled">
                                    <li><strong>옵션</strong></li>
                                    <li>옵션1</li>
                                    <li>옵션2</li>
                                </ul>
                                <h5>조회수:</h5>
                                <h5>판매횟수:</h5>
                            </div>
                            <div id="best_desc2" class="h-100">
                                <select class="form-select h-100 text-center bg-dark text-light" size="5" multiple aria-label="multiple select example">
                                    <option class="p-3">봄</option>
                                    <option class="p-3">여름</option>
                                    <option class="p-3">가을</option>
                                    <option class="p-3">겨울</option>
                                    <option class="p-3">청바지</option>
                                    <option class="p-3">반바지</option>
                                    <option class="p-3">스키니</option>
                                    <option class="p-3">정장</option>
                                </select>
                            </div>
                            <div id="best_desc3">
                                <h4>(USER)님의 작품</h4>
                                <h5>태그:</h5>
                                <ul class="list-unstyled">
                                    <li><strong>옵션</strong></li>
                                    <li>옵션1</li>
                                    <li>옵션2</li>
                                </ul>
                                <h5>조회수:</h5>
                                <h5>판매횟수:</h5>
                                <button class="btn btn-outline-light w-100 mt-5">구매하러 가기</button>
                            </div>
                            <div id="best_desc4">
                                <div class="col-sm d-flex flex-column justify-content-center align-items-center h-100">
                                    <div class="text-center">
                                        <h2>(USER)님</h2>
                                        <h4>누적판매금액</h4>
                                        <hr>
                                        <h1><strong>200000000￦</strong></h1>
                                    </div>
                                </div>
                                <h6 class="text-danger">* 해당 내용은 실시간으로 갱신됩니다.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rounded row p-5" id="scrollspyHeading4">
                <div class="border border-3 rounded mb-3 p-5 col-sm">
                    <h1><strong>공지사항</strong></h1>
                    <hr>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">공지사항1</li>
                        <li class="list-group-item">공지사항2</li>
                        <li class="list-group-item">공지사항3</li>
                        <li class="list-group-item">공지사항4</li>
                        <li class="list-group-item">공지사항5</li>
                        <li class="list-group-item">공지사항6</li>
                        <li class="list-group-item">공지사항7</li>
                        <li class="list-group-item">공지사항8</li>
                        <li class="list-group-item">공지사항9</li>
                        <li class="list-group-item">공지사항10</li>
                        <li class="list-group-item">공지사항11</li>
                        <li class="list-group-item">공지사항12</li>
                    </ul>
                </div>
                <div class="col-sm">
                    <div class="border border-3 rounded mb-3 p-5 col-sm">
                        <h1><strong>FAQ</strong></h1>
                        <hr>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">FAQ1</li>
                            <li class="list-group-item">FAQ2</li>
                            <li class="list-group-item">FAQ3</li>
                            <li class="list-group-item">FAQ4</li>
                        </ul>
                    </div>
                    <div class="border border-3 rounded mb-3 p-5 col-sm">
                        <h1><strong>매거진</strong></h1>
                        <hr>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">매거진1</li>
                            <li class="list-group-item">매거진2</li>
                            <li class="list-group-item">매거진3</li>
                            <li class="list-group-item">매거진4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="border rounded p-5 bg-dark mb-3 text-white" id="scrollspyHeading5">
                <div class="map_wrap">
                    <hr>
                    <h3>매장위치</h3>
                    <hr>
                    <div id="mapWrapper" style="width:100%; height:400px;">
                        <div id="map" style="width:100%;height:100%"></div>
                    </div>
                    <hr>
                    <h3>로드뷰</h3>
                    <hr>
                    <div id="rvWrapper" style="width:100%; height:400px;">
                        <div id="roadview" style="width:100%;height:100%"></div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <button class="col-sm btn btn-outline-light border-3 fw-bold" onclick="location.href='https://map.kakao.com/link/map/18577297'">맵에서 보기</button>
                    <button class="col-sm btn btn-outline-light border-3 fw-bold" onclick="location.href='https://map.kakao.com/link/to/18577297'">맵에서 길찾기</button>
                    <button class="col-sm btn btn-outline-light border-3 fw-bold" onclick="location.href='https://map.kakao.com/link/roadview/18577297'">맵에서 로드뷰 보기</button>
                    <button class="col-sm btn btn-outline-light border-3 fw-bold" onclick="location.href='https://map.kakao.com/link/search/whitevalley'">맵에서 검색결과 보기</button>
                </div>
                <hr>
            </div>
        </div>
        <div class="w-25 d-flex justify-content-center align-items-center h-75" id="home_navigator">
            <div style="border-radius: 25px;" class="p-3 text-center bg-dark border border-3 border-light text-white d-flex align-items-center">
                <nav id="navbar-example2" class="navbar navbar-dark bg-dark px-3">
                    <ul class="nav d-flex flex-column" id="contents_nav">
                        <li class="nav-item" id="introduce">
                            <a class="nav-link" href="#scrollspyHeading1">INTRODUCE</a>
                        </li>
                        <li class="nav-item" id="event">
                            <a class="nav-link" href="#scrollspyHeading2">EVENT</a>
                        </li>
                        <li class="nav-item" id="best">
                            <a class="nav-link" href="#scrollspyHeading3">BEST</a>
                        </li>
                        <li class="nav-item" id="notice">
                            <a class="nav-link" href="#scrollspyHeading4">NOTICE</a>
                        </li>
                        <li class="nav-item" id="roadmap">
                            <a class="nav-link" href="#scrollspyHeading5">ROADMAP</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d0a089899d52dada0e103d8ad4697d13"></script>
{% endblock %}