{% extends 'base.html' %}

{% block attachment %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}?ver=1">
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block contents %}
    <div id="greet" class="text-white position-fixed d-flex flex-column justify-content-center align-items-center">
        <h1 id="typing">WELCOME TO WHITEVALLEY!</h1>
        <button class="btn btn-outline-light position-absolute">Continue</button>
    </div>
    <h1>123</h1>
    <h1>123</h1>
    <h1>123</h1>
    <h1>123</h1>
    <h1>123</h1>
    <h1>123</h1>
    <h1>123</h1>
    <h1>123</h1>
    <h1>123</h1>
{% endblock %}