{% extends 'base.html' %}

{% block attachment %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/recommendation.css' %}?ver=1">
<script src="{% static 'js/recommendation.js' %}"></script>


<style>
    .termbtn {
        margin-top: 30px;
    }

    .imgform {
        border-radius: 12px;
    }

    .form-control {
        width: 10%;
        float: left;
    }

    .costitle {
        border: 1px solid red;
        height: 100px;
        width: 500px;
        text-align: center;
        margin: 0 auto;
    }

    .square td {
        border-right: 1px solid #eee;
        border-left: 1px solid #eee;
    }

</style>
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row" style=' height:200px'>
        <div class="col-sm-12 bg-light text-dark" style='border-radius:24px'></div>
        <h1 class='text-center'>BEST REVIEW</h1>
        <div class='text-center termbtn' style="margin: top 50px">
            <a class="btn btn-outline-dark" href="/whitevalley/shopping/finished">완성품</a>
            <a class="btn btn-outline-dark" href="/whitevalley/shopping/tag_reviews">태그별 맞춤</a>
            <a class="btn text-white" style="background-color: #000000;" href="/whitevalley/shopping/reviews">상품후기</a>
        </div>
        <hr>
    </div>
</div>
<p></p>
<div class="container">
    <select class="form-control">
        <option>최신순 ></option>
        <option>인기순 ></option>
    </select>



    
    {% if session.user %}
    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn text-white"
        style='background-color: #000000; float: right; display: block;'>후기 작성</button>
    {% else %}
    <button type="button" onclick='gologin()' class="btn text-white"
        style='background-color: #000000; float: right; display: block;'>후기 작성</button>
    {% endif %}

    


<!-- Modal -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal">리뷰작성리스트</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>최근 구매 내역</h5>
        
        {% for i in "x"|rjust:"15" %}
        <p>이곳은 완성품이미지 , 그리고 옵션: <a href="{% url 'Recommendation:product_reviews' %}" class="tooltip-test" title="Tooltip">반팔,XXL,패턴:꽃무늬</a></p>
        <hr>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <script>
        function gologin() {
            alert('로그인 후 이용할 수 있습니다.');
            location.href = "{% url 'User:user_login' %}"
        }
    </script>

    {% if session.admin %}
    <button type="button" class="btn btn-info" style='float: right;'>게시글삭제</button>
    {% endif %}
    <div></div>
    <br>
    <div></div>
    <hr style='margin-top:40px'>


    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-5">
        {% for review in reviews %}
        <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                        dy=".3em">{{review.title}}</text>
                </svg>

                <div class="card-body">
                    <p class="card-text">{{review.contents}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.open('/whitevalley/shopping/tag_reviews_detail/','name','resizable=no width=800 height=1000');return false">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">장바구니담기</button>
                        </div>
                        <small class="text-muted">날짜</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% comment %} 페이징 {% endcomment %}
<ul class="pagination justify-content-center" style='margin:50px'>
   
    {% if question_list.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    
    {% for page_number in question_list.paginator.page_range %}
    {% if page_number == question_list.number %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endfor %}
    
    {% if question_list.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>



{% endblock %}